# SBT
# project/.*
# project/project
# target
.sbtopts

# Scala.js
/shared/.js
/shared/.jvm

# NPM
node_modules

# IntelliJ IDEA
.idea
*.iml

# Others
# /data
# /logs
# /tmp
# /dist
# /uploads
# /modules
# /lib
# /version.sbt
# /devops/.env
# /devops/ansible/artifacts
# /devops/docker/db/*.sql
# /server/conf/local.conf
