<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback http://ch.qos.logback/xml/ns/logback/logback.xsd">

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{20} - %message%n   %xException%n</pattern>
        </encoder>
    </appender>

    <logger name="crud" level="DEBUG"/>
    <logger name="ch.insign" level="INFO"/>

    <!-- We should at the very least see warnings -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
